body {
    font-family:"Roboto", sans-serif;
}

html, body{margin:0px; padding:0px;}

.toolbar {
  padding: 0px 30px !important;
}

a:link {
    text-decoration: none;
}
.filter:visited {
  /*background-color: #4493cc;*/
   box-shadow: inset 0 0 0 140px #53a7ea;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
