body {
    font-family:"Roboto", sans-serif;
}

html, body{margin:0px; padding:0px;}

.toolbar {
  padding: 0px 30px !important;
}

a:link {
    text-decoration: none;
}

img {
  /*height: auto;*/
  height: auto;
  width: 100%;
  max-height: MaxHeight;
  max-width: MaxWidth;
}
