{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Pixlr</title>
	<link href="{% static 'css/style.css'%}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css">
</head>

<body>
	{% csrf_token %}
	<div id="pixlr"> </div>
	<script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1753656524846805"></script>
	<script src="{% static 'js/build/bundle.js'%}"></script>
</body>

</html>
